@inherits LayoutComponentBase

<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top top-row" style="min-height: 80px;">
        <div class="container">
            <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Ordershop</b></a>
            <div>
                <a class="nav-link text-dark" href="/basket"><span class="material-symbols-outlined font-color" style="font-size: 60px;">shopping_basket</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</div>
